.bebebe{
    background-color: #44855d;
    margin: auto;
    padding: 20px;
    color: #36cc45;
}

#pupupu{
    background-color: #554485;
    margin: auto;
    padding: 20px;
    color: #a4cc36;
}




